<div class="row" id="admin-wrapper">
  <div class="col-md-8 col-md-offset-2">

    <%= render "stats" %>
    <hr />

    <%= render "create_tags" %>
    <hr />

    <%= render "admin_list" %>
    <hr />

    <h4>Uploads</h4>
    <% unless @incompletes.empty? %>
      <%= link_to "resolve incomplete files", types_path %>
    <% end %> 
    <%= render "types/upload_form" %>
    <hr />

    <%= render "orgs_list" %>

  </div>
</div>
